body {
  background-color: #e9eaed;
}
.navbar {
  background: #fff;
}
.mainApp {
  margin-top: 70px;
}
.mainApp .content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 20px;
}
